# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Next.js build output
.next/
out/

# Python virtualenv & cache
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
